<article>
  <h3><a href="#">USN-4238-1: SLD_image vulnerabilities</a></h3>
  <p>14 January 2020</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac tortor sit amet erat eleifend pretium in eu purus. Morbi urna nisi, porttitor eu mattis ac, consequat sed felis.</p>

  <ul class="p-inline-list u-no-margin--bottom">
    <li class="p-inline-list__item">
      <a href="#" class="p-button">Ubuntu 18.04 LTS</a>
    </li>

    <li class="p-inline-list__item">
      <a href="#" class="p-button">Ubuntu 16.04 LTS</a>
    </li>
  </ul>
</article>